<div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <h6 class="card-subtitle text-muted mb-2">{{ task.date }}</h6>
        <p class="card-text">
            <strong>Assigned By:</strong> {{ assignedBy?.firstname }} {{ assignedBy?.lastname }}<br>
            <strong>Assigned To:</strong> {{ assignedTo?.firstname }} {{ assignedTo?.lastname }}
        </p>
        <p class="card-text">{{ task.description }}</p>
    </div>
</div>
