.assigned-manager-to-me {
  background-color: #cc5200;
  color: white;
  border: 1px solid #f26419;
}

.assigned-manager-to-others {
  border: 2px solid #f26419;
  color: #f26419;
}

.assigned-me-to-me {
  background-color: #ff944d;
  color: white;
  border: 1px solid #f26419;
}

.inProgress-manager-to-me {
  background-color: #244e6e;
  color: white;
  border: 1px solid #33658a;
}

.inProgress-manager-to-others {
  border: 2px solid #33658a;
  color: #33658a;
}

.inProgress-me-to-me {
  background-color: #5c88aa;
  color: white;
  border: 1px solid #33658a;
}

.done-manager-to-me {
  background-color: #5f733d;
  color: white;
  border: 1px solid #758e4f;
}

.done-manager-to-others {
  border: 2px solid #758e4f;
  color: #758e4f;
}

.done-me-to-me {
  background-color: #a0b180;
  color: white;
  border: 1px solid #758e4f;
}

.cancelled-manager-to-me {
  background-color: #6aa8cc;
  color: white;
  border: 1px solid #86bbd8;
}

.cancelled-manager-to-others {
  border: 2px solid #86bbd8;
  color: #86bbd8;
}

.cancelled-me-to-me {
  background-color: #aed6ec;
  color: white;
  border: 1px solid #86bbd8;
}

.other {
  border: 1px solid #ccc;
  color: #333;
}

.action-btn {
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #f6ae2d;
  color: #f6ae2d;
}

.action-btn:hover {
  background-color: #f6ae2d;
  border: 1px solid #f6ae2d;
  color: #fff;
}
